

services:
  web:
    build: .
    container_name: chat_giga_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/app

  db:
    image: postgres:15
    container_name: chat_giga_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: chat_giga_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data: